/* Estrutura do site */

* {
	margin: 0;
	padding: 0;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(../imagens/fundo.png) repeat-x;
}

#principal{
	width: 750px;
	margin: 0 auto;
}

#topo{
	height: 150px;
	background: url(../imagens/detalhe-topo.png) no-repeat right top;
	padding-top: 25px;
}

.logo{
	background: url(../imagens/logo.png) no-repeat center;
	width: 152px;
	height: 66px;
	text-indent: -3000px;
}

/* Navegação */

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#topo ul{
	margin-top: 30px;
	background: #b10333;
	float: left;
}

#topo ul li{
	float: left;
}

#topo ul a{
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.4em;
	line-height: 2.1em;
	text-decoration: none;
	color: #fff;
	background: url(../imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro{
	background: none;
}

#topo ul a:hover{
	color: #69001d;
}


body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.inter #navegacao a#inter,
body.eco #navegacao a#eco,
body.saude #navegacao a#saude,
body.cien #navegacao a#cien,
body.fotos #navegacao a#fotos{
	background: #de003e;
	color: #fff;
	cursor: text;
}

/* Layout */

#conteudo{
	margin-top: 60px;
	background: #f5f5f5;
}

#primario{
	width: 270px;
	float: left;
	margin: 0 0 20px 195px; /*Afastou 195px pra ter espaço para a lateral*/
}

#uma-coluna #primario{
	width: 750px;
	margin: 0 0 20px 0; 
}

#duas-colunas #primario{
	width: 555px;
}

#secundario{
	width: 270px;
	float: left;
	margin: 0 0 20px 15px;
}

#lateral{
	width: 180px;
	float: left;
	margin: 0 0 20px -750px;
}

.caixa{
	background: #f3f3f3 url(../imagens/fundo-caixa.png);
	margin: 10px 0;
	padding: 5px;
}

#caixa-conteudo{
	background: #fff;
	margin-top: 5px;
	padding: 5px;
}

h2{
	background: #294c71;
	font-size: 1em;
	padding: 5px;
	color: #fff;
}

h3{
	text-transform: uppercase;
	display: inline;
	font-size: 0.8em;
	padding: 3px;
}

.destaque h3{
	background: #b10333;
	color: #fff;
}

.entrevista h3{
	background: #de003e;
}

#lista-noticias li{
	padding: 2px;
	border-bottom: 1px solid #ccc;
	height: 62px;
}

#lista-noticias li a img{
	float: left;
	margin: 5px;
}

#lista-noticias li a h3{
	font-size: 0.8em;
	padding: 0;
	color: #3e7ab9;
}

#lista-noticias li a p{
	font-size: 0.7em;
}

#lista-noticias li a{
	text-decoration: none;
	color: #000;
}

#lista-noticias li:hover{
	background: #eee;
	cursor: pointer;
}


/* Formatando imagens */

img.imagem-principal{
	width: 98%;
	border: 3px solid #dfdfdf;
}

/* Menu lateral */

#lateral ul a{
	font-size: 0.9em;
	padding: 3px;
	display: block;
	line-height: 30px;
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover{
	color: #a1a1a1;
	background: #f9f9f9 url(../imagens/marcador.png) no-repeat center left;
	padding-left: 20px;
}

label{
	display: block;
	cursor: pointer;
}

input{
	padding: 5px;
	width: 125px;
	font-size: 0.9em;
	background-color: #fff;
	border: 1px solid #d1d0cb;
}

input.submit{
	width: 80px;
	color: #fff;
	background-color: #b10333;
	border: 2px solid #870529;
}

/* Rodape */

#container-rodape{
	background: #294c71;
	padding: 20px;
}

#rodape{
	width: 750px;
	margin: 0 auto;
	color: #fff;
}
