/*Configurações gerais*/
body{
    margin: 0;
    background: #f4f2ec url(../img/fundo.png) repeat-x;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

#container {
    min-width: 500px;
	margin: 0 auto;
}

header,.conteudo, footer{
    display: flex;
    justify-content: center;
}

h4{
    text-transform: uppercase;
    color: #227115;;
}

a{
    text-decoration: none;
    color: #a77023;
}

/*Logo e Navegador*/

header{
    padding: 15px;
    justify-content: center;
}

header a#logo{
    width: 248px;
	height: 21px;
	text-indent:  -9999px;
    display: block;
    background: url(../img/logo.png) no-repeat;
    margin-right: 210px;
}

nav ul{
    display: flex;
    margin: 20px;
    list-style-type: none;
}

nav ul a{
    text-transform: uppercase;
    margin-right: 25px;
	padding-bottom: 3px;
}

nav ul a:hover{
    color: rgb(17, 78, 17);
    text-decoration: underline;
}

/*Conteudo principal*/

.conteudo{
    margin: 0 170px;
}

.conteudo #conteudo-central{
    display: flex;
}

.conteudo article #conteudo-central section{
    display: inline-block;
    margin: 0 20px;
    width: 50%;
    text-align: justify;
}

/*Conteudo Lateral*/

.conteudo aside{
    background-color: #cdc8b1;
    margin-left: 30px;
}

.conteudo aside h4{
    color: #86521a;
}

.conteudo aside section#visita{
    background-color: #cdc8b1;
    margin: 35px;
}

.conteudo aside input#submit{
    background-color: #9b9271;
    cursor: pointer;
    border: none;  
    text-align: center;
    color: #fff;
    width: 260px;
    padding: 10px; 
}

.conteudo aside input#number{
    width: 20px;
}

/*Galeria*/

.conteudo aside .fotos{
    margin: -15px;
    flex-wrap: wrap;
    display: flex;
}

.conteudo aside .fotos a{
    background: url(../img/fundo-foto.png) no-repeat;
    padding: 17px 15px 17px 15px;
	margin: 10px 0 0 20px;
    float: left;
    display: block;
}

.conteudo aside .galeria{
    background-color: #ebe7dd;
    padding: 35px;
}



/*Rodapé*/

footer{
    clear: both;
    padding-top: 30px;
    display: block;
    margin: 50px auto;
    background: url(../img/fundo-rodape.png) no-repeat center top;
}

footer section{
    text-align: center;
}

footer a{
    padding: 2px 12px;
}

